.notification{
    cursor: pointer;
    z-index: 10000;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 180px;
    min-height: 70px;
    top: 100px;
    right: 2%;
    padding: 0 12px;
    box-shadow: 0px 8px 15px rgb(0 0 0 / 10%);
    background-color: #18f6ba;
    color: #34730a;
    border-radius: 8px;
    animation-name: run;
    animation-duration: 1s;
}

.notification.danger{
  background-color: #ff8282;
  font-size: 19px;
  color: #ffffff;
  font-weight: 100;
}

@keyframes run {
    0% {
      right: -25%;
    }
    100% {
      right: 2%;    
    }
}

@media screen and (max-width : 890px) {
  .notification{
    top: 150px;
    animation-duration: 2s;
  }
}

@media screen and (max-width : 620px){
  .notification{
    top: 114px;
    min-width: 150px;
    animation-duration: 2s;
  }
  .notification.danger{
    font-size: 14px;
  }
}