.modal .question{
    padding: 0 20px;
    font-size: 18px;
}

.modal .note{
    font-size: 13px;
    padding: 0 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #5f5f5f;
}

.text-margin{
    margin: 3px 0 !important;
}

.modal .success{
    text-align: right;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: green ;
    overflow: auto;
    margin-bottom: 40px;
    opacity: 0; 
    animation: fadeIn .8s ease-in-out 0.1s forwards;
}
@keyframes fadeIn {
    to {
      opacity: 1;
    }
}
.note .heading-success{
    color: #5f5f5f;
    text-align: start;
}
hr.line{
    margin: 0 0;
    margin-bottom: 5px !important;
    /* height: 1px; */
    background: #a7a7a7;
    border: .1px solid #c5c5c5;
}

.note .text-success{
    text-align: right;
}
.note .text-success-add{
    text-align: right;
    display: flex;
    align-items: center;
    font-size: 11px;
}

.modal .user-type{
    display: flex;
    align-items: center;
    height: 60px;
    border-bottom: 1px solid #e1e1e1;
    cursor: pointer;
    color: #5f5f5f;
    padding-left: 20px;
}

.modal .user-type:hover{
    background-color: #f9f9f9;
}

.modal .user-type:last-child{
    border-bottom: none;
}

.modal .user-type.selected{
    background-color: #e8ddf9;
    color: black;
}

.modal .btn.bottom{
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 0;
    border-radius: 0;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
}

.modal .btn.bottom-right, .modal .btn.bottom-left{
    position: absolute;
    bottom: 0;
    width: calc(50% - 1px);
    border-radius: 0;
}

.modal .btn.bottom-right{
    font-weight: bolder;
    right: 0;
    border-bottom-right-radius: 16px;
    border-left: 0.5px solid white;
}

.modal .btn.bottom-left{
    border-right: 0.5px solid white;
    font-weight: bolder;
    left: 0;
    border-bottom-left-radius: 16px;
}

.modal .address-box{
    margin: 20px;
    padding: 0px 8px;
    display: flex;
    align-items: center;
    border-radius: 8px;
    border: 2px solid #776dff;
    overflow: visible;
}

.modal .agreement-details{
    border: none;
    overflow: hidden;
    border-radius: 8px;
}

.modal .address-box input{ 
    width: 100%;
    outline: none;
    border: none;
    height: 40px;
    font-size: 20px;
}

.modal .agreement-details textarea, .modal .price-box input{
    width: calc(100% - 20px);
    height: 40px;
    font-size: 20px;
    border-color: #776dff;
}

.modal .price-box{
    margin: 20px;
    display: flex;
    align-items: center;
    border-radius: 8px;
    border: 2px solid #776dff;
    overflow: hidden;
}

.modal .price-box .dollar{
    font-weight: bold;
    line-height: 42px;
    font-size: 20px;
    text-align: center;
    padding-left: 17px;
    padding-right: 16px;
    background: lavender;
    border-top-left-radius: 6px;
    border-end-start-radius: 6px;
}

.modal .price-box input{
    width: calc(60% - 10px);
    border: none;
    /* width: 100%; */
    padding: 1px 12px;
}

.modal .price-box .fiat-text{
    width: 100%;
    padding-right: 10px;
}

.modal .price-box input:focus{
    outline: none;
}

.modal .price-box .token-drop-down{
    width: calc(40%);
    font-size: 20px;
    position: relative;
    background: lavender;
    height: 42px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

.modal .price-box .token-drop-down .selected-token{
    text-align: center;
    cursor: pointer;
    position: relative;
}

.modal .price-box .token-drop-down .selected-token .arrow{
    position: absolute;
    top: 20%;
}

.modal .price-box .token-drop-down .drop-down-list{
    font-size: 14px;
    width: 80%;
    text-align: center;
    border: none !important;
    height: 40px;
    background: transparent;
    text-transform: uppercase;
    font-weight: bold;
}

.modal .price-box .token-drop-down .drop-down-list:focus{
    outline: none;
}

.modal .agreement-details textarea{
    height: 130px;
    resize: none;
    padding: 8px;
    font-size: 16px;
    font-family: unset;
    border: 2px solid #776dff;
    border-radius: 8px;
}

.modal .add-skill-btn{
    background-color: #efefef;
    color: #898989;
    border-radius: 4px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin: 20px 20px;
    width: 100px;
}

.modal .skill-box{
    padding: 5px 20px;
    display: flex;
}

.modal .skill-box input{
    width: calc(100% - 40px);
    height: 24px;
    font-size: 14px;
    border-radius: 8px;
    border: 2px solid #776dff;
    padding: 4px;
}

.modal .skill-box .remove{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    cursor: pointer;
    font-size: 22px;
}

.developer-lines{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 40px;
    font-weight: 400;
    line-height: 160px;
}

.model-skill-btn{
    margin: 12px auto !important;
    width: 94% !important;
}