body{
    margin: 0;
    font-family: sans-serif;
    min-height: 100vh;
}

.container{
    max-width: 1100px;
    margin: auto;
    padding: 0 10px;
    padding-bottom: 40px;
}

.btn-absolute{
  position: absolute !important;
  width: 100% !important;
  bottom: 0 !important;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}

.btn-input{
  position: relative;
  flex: 1;
  font-size: 14px;
  height: 42px;
  background: lavender;
  color: #776dff;
  border-radius: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  text-transform: uppercase;
  cursor: pointer;
}

section.paymentList{
  position: relative;
}

section.paymentList::after{
  content: '';
  position: absolute;
  bottom: 0;
  z-index: -1;
  width: 100%;
  height: 1200px;
  background-image: url('./images/bg-2.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

.wallet-address{
  text-align: center;
  margin-top: 20px;
  font-weight: lighter;
}

.hero{
  min-height: calc(100vh - 100px);
}

.clear{
  clear: both;
}

#spin {
  /* color:red; */
}
#spin:after {
  content:"";
  animation: spin 6s linear infinite;
}

@keyframes spin {
  0% { content: "Send";}
  50% { content: "Receive";}
  100% { content: "Send";  }
}

.modal.embeded{
  margin-top: 40px;
  z-index: 0;
  padding-top: 10px;
  width: 400px;
  height: 316px;
  box-shadow: 0px 0px 15px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  transition: all 0.3s ease-in;
  overflow: hidden;
}

.modal.embeded.exp{
  height: 482px;
}

.modal.single-input{
  max-width: calc(100% - 60px);
  width: 400px;
  max-height: 400px;
  animation: popUp 0.2s linear;
}

@keyframes popUp {
  0% { transform: scale(0);}
  100% { transform: scale(100%);  }
}

.modal.single-input .modal-content{
  padding: 0;
}

.modal.single-input .agreement-details{
  padding: 0;
  margin: 20px;
}

.modal.embeded .contract-creation{
  padding-bottom: 52px
}

.section2{
  background: lavender;
  padding: 2px 0;
}

section.mt-4{
  padding-top: 20vh;
  padding-bottom: 20vh;
}

.modal.embeded .note, .modal.single-input .note{
  margin-top: 32px;
  margin-bottom: 0;
  font-weight: bold;
}

.modal.embeded .address-box, .modal.embeded .price-box, .modal.embeded .agreement-details{
  margin-top: 8px;
}

.modal.embeded .agreement-details{
  padding: 0;
  margin: 20px;
  margin-top: 8px;
}

.modal.embeded .agreement-details textarea{
  height: 40px;
}

.modal.embeded .address-box input, .modal.embeded .address-box{
  background-color: lavender;
}

.metadata, .tag{
  background: lavender;
  display: inline-block;
  padding: 12px 20px;
  border-radius: 16px;
  color: #776dff;
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 12px;
  box-shadow: 1px 2px 0px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  min-width: 78px;
  text-align: center;
  /* float: right; */
  /* margin-bottom: 20px; */
}


.buttonGroup{
  display: flex;
  gap: 10px;
  justify-content: center;
  flex-wrap: wrap;
  padding: 12px 0;
}

.notify{
  padding: 0 20px;
  font-size: 12px;
  color: #0b0b0b;
}

.expand{
  text-transform: uppercase;
  text-align: center;
  font-size: 12px;
  font-weight: bolder;
  width: 200px;
  background: lavender;
  color: #776dff;
  height: 42px;
  line-height: 42px;
  margin: auto;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.metadata.invert{
  background-color: white;
}

.metadata.active{
  border: 2px solid #776dff;
}

.dot {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 15px;
  background-color: #FFFFFF;
}

.btn-loader{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  background: #8d85fc;
  position: absolute;
  width: 100%;
  height: 100%;
}


.btn-loader .dot:nth-last-child(1) {
  animation: fallingAnimation 1s 0.3s linear infinite;
}
.btn-loader .dot:nth-last-child(2) {
  animation: fallingAnimation 1s 0.2s linear infinite;
}
.btn-loader .dot:nth-last-child(3) {
  animation: fallingAnimation 1s 0.1s linear infinite;
}

@keyframes fallingAnimation {
  0% {
    transform: translate(0,-15px);
    opacity:0;
  }
  25%, 50%, 75% {
    transform: translate(0,0);
    opacity:1;
  }
  100% {
    transform: translate(0,15px);
    opacity:0;

  }
}


.bg{
  width: 100%;
  opacity: 0.5;
  margin-top: -40px;
  z-index: -1;
  position: relative;
}

.danger{
  font-size: 12px;
  color: red;
  text-align: center;
}

.connect{
    width: auto !important;
    height: auto !important;
    padding: 18px 32px !important;
    font-size: 18px !important;
    border-radius: 34px;
    cursor: pointer;
}

.type{
  font-size: 26px;
  display: inline-block;
  white-space: pre-line;
  line-height: 44px;
}

.fund-box input{
  max-width: 80%;
  width: 400px;
  height: 48px;
  border-radius: 20px;
  border: 1px solid #949494;
  margin-bottom: 30px;
  font-size: 32px;
  padding: 12px;
}

.btn{
    position: relative;
    display: flex;
    min-width: 200px;
    min-height: 32px;
    height: 52px;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    /* background: linear-gradient(90deg, #6affb0 0%, #00ddff 52.43%); */
    background-color: #776dff;
    color: white;
    cursor: pointer;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-transform: uppercase;
    font-weight: bolder;
    overflow: hidden;
}

.btn input[type="file"]{
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

a{
  text-decoration: none;
}

.btn.large{
  min-width: 260px;
}

.btn.small{
  width: 200px;
}

.btn.withPadding{
  min-width: 160px;
  padding: 4px 40px;
}

.btn.withMargin{
  margin-top: 10px;
  margin-bottom: 10px;
}

.address{
    display: inline-block;
    width: 200px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-weight: 500;
    vertical-align: bottom;
}

.footer{
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #f2f1ff;
}

.footer .links{
  text-align: center;
}

.footer .links a + a{
  margin-left: 40px;
}

.footer .links a{
  font-size: 14px;
  color: #6c8d9c;
}

.flexBetween{
  display: flex;
  text-align: center;
  justify-content: space-between;
  margin: 60px 0;
  padding: 0 10px;
}

.flexCenter{
  flex-direction: column;
  display: flex;
  text-align: center;
  justify-content: space-between;
  height: 160px;
  /* margin: 60px 0; */
  color: #3f3f3f;
  padding: 20px;
}

.arrow {
    border: solid #776dff;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    margin-left: 12px;
  }
  
  .right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  
  .left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
  }
  
  .up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
  }

  .up.o{
    position: relative;
    top: 2px;
    margin-left: 4px;
  }
  
  .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }

  .down.i{
    position: relative;
    top: -2px;
    margin-left: 4px;
  }

  .hero-heading{
    margin: 11vh 0;
  }

.mh-100{
  min-height: calc(100vh - 300px);
}

.heading{
    font-weight: bolder;
    text-align: center;
    font-size: 50px;
    @supports (background-clip: text) or (-webkit-background-clip: text) {
      background-image: 
        url("data:image/svg+xml,<svg width='2250' height='900' fill='none' xmlns='http://www.w3.org/2000/svg'><g><path fill='%23776dff' d='M0 0h2255v899H0z'/><circle cx='366' cy='207' r='366' fill='%23bab5fd'/><circle cx='1777.5' cy='318.5' r='477.5' fill='%239c99be'/><circle cx='1215' cy='737' r='366' fill='%233f37a3'/></g></svg>%0A");
      background-size: 110% auto;
      background-position: center;
      color: transparent;
      -webkit-background-clip: text;
      background-clip: text;
    }
}

.slogan{
  font-size: 14px;
  color: gray;
  text-align: center;
  margin-top: 12px;
}

.loading {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

  .bar {
    background-color: rgb(164, 164, 252);
    min-width: 100%;
    min-height: 5px;
    position: relative;
    overflow: hidden;
  }
  .bar::after {
    content: "";
    min-height: 5px;
    position: absolute;
    background: #fff;
    transform: translateX(-100%);
    animation: animate 2s infinite;
  }
  .bar::before {
    content: "";
    min-height: 5px;
    position: absolute;
    background: #fff;
    transform: translateX(-100%);
    animation: animate 2s infinite;
    animation-delay: 1s;
  }
  @keyframes animate {
    0% {
      transform: translateX(-150%);
      min-width: 100px;
    }
    100% {
      transform: translateX(300%);
      min-width: 400px;
    }
  }



  .lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    margin: 0 auto;

  }
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #000;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #000 transparent transparent transparent;
  }
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  

  .wallet-message{
    font-size: 26px;
    color: #776dff;
    border: 1px solid #e7e7e7;
    padding: 12px;
    text-align: center;
  }

  section{
    /* margin-top: 10vh; */
  }

  .d-flex-between{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }

  .box-payment{
    position: relative;
    width: 200px;
    cursor: pointer;
    padding: 20px;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.1);
    overflow: hidden;
  }

  .box-payment .amount{
    font-size: 32px;
    font-weight: bolder;
    color: #776dff;
    text-align: left;
    padding: 0;
  }

  .box-payment .user{
    text-align: left;
    margin-top: 12px;
    white-space: nowrap;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: lowercase;
  }

  .flex-tag{
    display: flex;
    gap: 8px;
  }

  .box-payment .mode, .box-payment .status{
    font-size: 12px;
    font-weight: lighter;
    text-transform: uppercase;
    margin-top: 12px;
    text-align: center;
    border: 1px solid #776dff;
    color: #776dff;
    border-radius: 8px;
    padding: 4px 8px;
    display: inline-block;
  }

  /* .box-payment .status{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    background: lavender;
    color: #776dff;
    padding: 8px 0;
    font-weight: bolder;
  } */

  .btn.disabled{
    pointer-events: none;
    background-color: #918afd;
  }

  .skill-container .question{
    margin: 10px 0;
  }


  .masked{
    display: none;
    z-index: -1;
    background-color: #5e5e5e36;
    position: fixed;
    top:0;
    right: 0;
    width: 100%;
    height: 100%;
  }

  .transak_modal {
    background: none !important;
    height: 100% !important;
    top: 60% !important;
    max-height: 95% !important;
  }

  .transak_close {
  right: -25px !important;
    top: -10px !important;
  }
  .transak_close:hover {
    color: #000 !important;
    background-color: #e7e7e7 !important;
  }

  .transak_modal-overlay {
    width: 110% !important;
  }

  .error-404 {
    padding: 80px 0;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
    height: 100%;
    background-color: #f4f4f4;
  }
  
  .error-404 h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #d9534f;
  }
  
  .error-404 p {
    font-size: 1.5rem;
    color: #333;
  }

  .p20px{
    padding: 20px !important;
  }
  
  .no-spinner::-webkit-inner-spin-button,
  .no-spinner::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  .no-spinner {
    -moz-appearance: textfield;
  }

  .div-cancel{
    display: flex;
    padding: 30px 0px;
    justify-content: center;
    align-items: center;
    text-align: left;
    color: #393939;
    font-weight: 600;
  }
  
  .btn-cancel{
    background-color: #e6e6fa;
    color: #70709f;
    width: 350px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    border-radius: 8px;
    
  }


  @media screen and (max-width: 768px) {
    .hero-heading {
      margin: 6vh 0;
    }
    .heading{
      font-size: 60px;
    }

    .btn{
      min-width: 140px;
    }
  }