body{
    margin: 0;
    font-family: sans-serif;
    background-image: url('./images/bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}
.container{
    max-width: 800px;
    margin: auto;
    padding: 0 10px;
}

.bg{
  width: 100%;
  opacity: 0.5;
  margin-top: -40px;
  z-index: -1;
  position: relative;
}

.danger{
  font-size: 12px;
  color: red;
  text-align: center;
}

.connect{
    width: auto !important;
    height: auto !important;
    padding: 18px 32px !important;
    font-size: 18px !important;
    border-radius: 34px;
    cursor: pointer;
}

.type{
  font-size: 26px;
  display: inline-block;
  white-space: pre-line;
  line-height: 44px;
}

.fund-box input{
  max-width: 80%;
  width: 400px;
  height: 48px;
  border-radius: 20px;
  border: 1px solid #949494;
  margin-bottom: 30px;
  font-size: 32px;
  padding: 12px;
}

.btn{
    position: relative;
    display: flex;
    min-width: 200px;
    height: 52px;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    /* background: linear-gradient(90deg, #6affb0 0%, #00ddff 52.43%); */
    background-color: #776dff;
    color: white;
    cursor: pointer;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.btn input[type="file"]{
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

a{
  text-decoration: none;
}

.btn.small{
  width: 200px;
}

.btn.withPadding{
  min-width: 160px;
  padding: 4px 40px;
}

.btn.withMargin{
  margin-top: 10px;
  margin-bottom: 10px;
}

.address{
    display: inline-block;
    width: 200px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-weight: 500;
    vertical-align: bottom;
}

.footer{
  margin-top: 120px;
}

.footer .links{
  text-align: center;
}

.footer .links a + a{
  margin-left: 40px;
}

.footer .links a{
  font-size: 14px;
  color: #2c2c2c;
}

.flexBetween{
  display: flex;
  text-align: center;
  justify-content: space-between;
  margin: 60px 0;
  padding: 0 10px;
}

.flexCenter{
  flex-direction: column;
  display: flex;
  text-align: center;
  justify-content: space-between;
  height: 160px;
  /* margin: 60px 0; */
  color: #3f3f3f;
  padding: 20px;
}

.arrow {
    border: solid black;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    margin-left: 12px;
  }
  
  .right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  
  .left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
  }
  
  .up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
  }
  
  .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }

.heading{
    font-size: 100px;
    /* display: flex ; */
    /* padding:  0 50px; */
}

.loading {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

  .bar {
    background-color: rgb(164, 164, 252);
    min-width: 100%;
    min-height: 5px;
    position: relative;
    overflow: hidden;
  }
  .bar::after {
    content: "";
    min-height: 5px;
    position: absolute;
    background: #fff;
    transform: translateX(-100%);
    animation: animate 2s infinite;
  }
  .bar::before {
    content: "";
    min-height: 5px;
    position: absolute;
    background: #fff;
    transform: translateX(-100%);
    animation: animate 2s infinite;
    animation-delay: 1s;
  }
  @keyframes animate {
    0% {
      transform: translateX(-150%);
      min-width: 100px;
    }
    100% {
      transform: translateX(300%);
      min-width: 400px;
    }
  }



  .lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    margin: 0 auto;

  }
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #000;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #000 transparent transparent transparent;
  }
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  

  .wallet-message{
    font-size: 26px;
    color: #776dff;
    border: 1px solid #e7e7e7;
    padding: 12px;
    text-align: center;
  }

  section{
    margin-top: 10vh;
  }

  .d-flex-between{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }

  .box-agreemet img{
    height: 140px;
    cursor: pointer;
    padding: 20px;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
  }
  .btn.disabled{
    pointer-events: none;
    background-color: #918afd;
  }

  .skill-container .question{
    margin: 10px 0;
  }


  .masked{
    display: none;
    z-index: -1;
    background-color: #5e5e5e36;
    position: fixed;
    top:0;
    right: 0;
    width: 100%;
    height: 100%;
  }

  .transak_modal {
    background: none !important;
    height: 100% !important;
    top: 60% !important;
    max-height: 95% !important;
  }

  .transak_close {
  right: -25px !important;
    top: -10px !important;
  }
  .transak_close:hover {
    color: #000 !important;
    background-color: #e7e7e7 !important;
  }

  .transak_modal-overlay {
    width: 110%;
  }

  .error-404 {
    padding: 80px 0;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
    height: 100%;
    background-color: #f4f4f4;
  }
  
  .error-404 h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #d9534f;
  }
  
  .error-404 p {
    font-size: 1.5rem;
    color: #333;
  }
  
  @media screen and (max-width : 890px) {
    body{
      background-size: 2000px;
    }

    .header{
      display: flex;
      padding: 30px 0px;
    }

    .header .logo{
    margin-left: 17px;
    width: 20%;
    }

    .heading{
      display: flex;
      justify-content: center;
      text-align: center;
      margin: 140px 0;      
    }

    .btn{
      margin: 0 auto;
    }

    .btn.connect{
      margin: 0 0;
    }

    .mt-4{
      text-align: center;
      margin-top: 60px;
    }

    .d-flex-between{
      padding: 30px 20px;
      overflow: scroll;
      justify-content: center;
    }
    .type{
      padding: 0 30px;
      text-align: center;
    }

    .agreement-details{
      text-align: center;
    }
    .agreement-details.box{
      margin-left:0 !important; 
    }

    .agreement-price{
      text-align: center;
      font-size: 30px;
    }
    
    .flexBetween{
      justify-content: center;
      margin: 50px 0;
      padding: 0 20px;
      flex-direction: column;
    }
    
    .btn.withPadding {
        min-width: 160px;
        padding: 0 40px;
    }

    .box-agreemet img {
      height: 100px;
      padding: 10px 10px;
    }
    .skill-container .skill-box {
      width: 300px;
      margin-right: -35px !important;
    }
    .skill-container{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 8px 10px;
      text-align: center;
    }

    .fund-box{
      display: flex;
      justify-content: center;
    }
}
    
  
  @media screen and (max-width : 620px){
    
    body{
      background-size: 1680px; 
    }
    .heading{
      font-size: 50px;
      margin: 70px 0;
    }
    .header{
      padding: 22px 6px;
      font-size: 10px;
    }
    .header .connected {
      /* top: 29%; */
      border-radius: 32px;
    } 
    
    .header .logo{
      width: 21%;
    }
    .btn.connect{
      margin: 0 0;
      min-width: 132px;
      margin-right: 20px !important;
    }
    .connect{
      padding: 0 0;
    }
    .btn{
      min-width: 10px;  
    }
    .d-flex-between{
      padding: 0 10px;
      overflow: scroll;
    }
    .flexBetween{
      justify-content: center;
      margin: 40px 0;
      padding: 0 10px;
    }
    .agreement-price{
      font-size: 25px;
    }
    .box-agreemet img {
      height: 80px;
      padding: 12px;
    }
    .skill-container .skill-box {
      width: 275px;
      margin-right: -20px !important;
    }
    .transak_modal{
      width: 85% !important;
    }
    
}