.modal .question{
    padding: 0 20px;
    font-size: 18px;
}

.modal .note{
    font-size: 12px;
    padding: 0 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #5f5f5f;
}

.modal .user-type{
    display: flex;
    align-items: center;
    height: 60px;
    border-bottom: 1px solid #e1e1e1;
    cursor: pointer;
    color: #5f5f5f;
    padding-left: 20px;
}

.modal .user-type:hover{
    background-color: #f9f9f9;
}

.modal .user-type:last-child{
    border-bottom: none;
}

.modal .user-type.selected{
    background-color: #e8ddf9;
    color: black;
}

.modal .btn.bottom{
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 0;
    border-radius: 0;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
}

.modal .btn.bottom-right, .modal .btn.bottom-left{
    position: absolute;
    bottom: 0;
    width: 50%;
    border-radius: 0;
}

.modal .btn.bottom-right{
    border-bottom-right-radius: 16px;
    right: 0;
}

.modal .btn.bottom-left{
    border-bottom-left-radius: 16px;
    left: 0;
}

.modal .address-box{
    padding: 20px;
    border: none;
    overflow: scroll;
}

.modal .agreement-details{
    margin: 20px 20px;
    border: none;
    overflow: scroll;
}

.modal .address-box input, .modal .agreement-details textarea, .modal .price-box input{
    width: calc(100% - 20px);
    height: 40px;
    font-size: 20px;
    border-radius: 8px;
    border-color: #776dff;
}

.modal .price-box{
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    border: 2px solid #776dff;
}

.modal .price-box input{
    width: calc(60% - 10px);
    border: none;
}

.modal .price-box input:focus{
    outline: none;
}

.modal .price-box .token-drop-down{
    width: calc(40% - 10px);
    font-size: 20px;
    position: relative;
}

.modal .price-box .token-drop-down .selected-token{
    text-align: center;
    cursor: pointer;
    position: relative;
}

.modal .price-box .token-drop-down .selected-token .arrow{
    position: absolute;
    top: 20%;
}

.modal .price-box .token-drop-down .drop-down-list{
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    text-align: center;
    background-color: white;
    box-shadow: 0px 10px 15px rgb(0 0 0 / 10%);
    border-radius: 8px;
    overflow: hidden;
}

.modal .price-box .token-drop-down:hover .drop-down-list, .modal .price-box .drop-down-list:hover{
    display: initial;
}

.modal .price-box .token-drop-down .drop-down-list .item{
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.modal .price-box .token-drop-down .drop-down-list .item:hover{
    background-color: #f9f9f9;
}

.modal .price-box .token-drop-down .drop-down-list .item.selected{
    background-color: #e8ddf9;
}

.modal .agreement-details textarea{
    height: 130px;
    resize: none;
    padding: 8px;
    font-size: 16px;
}

.modal .add-skill-btn{
    background-color: #efefef;
    color: #898989;
    border-radius: 4px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin: 20px;
    margin-bottom: 8px !important;
}

.modal .skill-box{
    padding: 5px 20px;
    display: flex;
}

.modal .skill-box input{
    width: calc(100% - 40px);
    height: 24px;
    font-size: 14px;
    border-radius: 8px;
    border-color: #776dff;
    padding: 4px;
}

.modal .skill-box .remove{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    cursor: pointer;
    font-size: 22px;
}

.developer-lines{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 60px;
}

@media screen and (max-width : 890px){
    .modal .agreement-details textarea {
        height: 118px;
    }
    .model .price-box{
        /* padding: 0 20px; */
    }
}

@media screen and (max-width : 620px){
    .modal .agreement-details textarea {
        height: 100px;
    }
    .model .price-box{
        padding: 0 20px;
    }
    .modal .price-box .token-drop-down {
        padding: 0 15px;
        font-size: 17px;
    }
    .selected-token .arrow{
        top: 15% !important;
        /* right: -19%; */
    }
    .modal .question {
        font-size: 17px;
    }
    .modal .add-skill-btn{
        height: 28px;
        margin-bottom: 10px !important;
    }
    .modal .skill-box input{
        height: 18px;
        font-size: 14px;
    }
}
